*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: url('login2.webp') no-repeat center center fixed;
    background-size: cover;
}
.container{
    
    /* border: 3px solid yellow; */
    color: white;
    position: absolute;
    top: 23%;
    left: 39%;
}
.container h1{
    display: inline-block;
    font-size: 40px;
    border-bottom: 3px solid purple;
    margin-bottom: 35px;
    padding: 13px 0;
}
.box {
width: 100%;
margin: 14px 0px;
border-bottom: 2px solid purple;
}
.box i{
    width: 8%;
    text-align: center;
}
.box input{
    background: none;
width: 75%;
outline: none;
border: none;
color: white;

padding: 5px 10px;
font-size: 15px;
}
.btn{
    cursor: pointer;
    outline: none;
    /* width: 28%; */
    margin: 12px 0;
    padding: 6px;
    border: 2px solid purple;
    border-radius: 10px;
    font-size: 14px;
    background: none;
    color: white;
    font-weight: bold;  
}
.btn:hover{
    background-color: white;
    color: black;
    transition: 0.2s ease-in-out;
    opacity: 0.8;
    transform: scale(1.2);

}